input[type="checkbox"]{
    display: none;
}

input[type="checkbox"]{ display: none; }

input[type="checkbox"] + label span{
    display: inline-block;
    width: 19px;
    height: 19px;
    background: url(img/check_radio_sheet.png) left top no-repeat;
}
